src/main/mule/hellovishnu.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7bec988a-ce9f-4cdc-9e91-9f1a08d4a032" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellovishnuFlow" doc:id="7ad45b9e-8ede-455c-afb7-4ec7457cca38" >
		<http:listener doc:name="Listener" doc:id="31171ba6-1ed1-4a08-882f-59795781a814" config-ref="HTTP_Listener_config" path="test"/>
		<ee:transform doc:name="Transform Message" doc:id="5f56a9f5-3f78-4c99-8697-bfe2c4aeb200" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" :"Hello Vishnu"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2906ef16-e167-4ac5-a23d-bf5733e46365" message="#[payload]"/>
	</flow>
</mule>
